.main{
    background-color: lightseagreen;
    padding: 10px;
}
.sub{
    background-color: lightskyblue;
    color: blue;
    border: 5px inset blue;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
    text-align: center;
}
table{
    width: 100%;
    background-color: gray;
    border: 3px solid black;
}
td{
    border-bottom: 2px solid black;
    padding: 10px;
}
b{
    background-color: white;
}
input{
    padding: 10px;
    margin: 10px;
    width: 26%;
    font-weight: bold;
}
button{
    padding: 10px;
    font-weight: bold;
    width: 100px;
}